@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --bloom-intensity: 8px;
    --light-color: #babedb;
    --dark-color: #1e212d;
    --bg-default: #0f111a;
    --bg-box: #090b10;
    --link-color: #445985;
    --border-thickness: 2px;
}

html {
    font-family: Ubuntu;
    color: var(--light-color);
    background: var(--bg-default);
}

.header {
    background: var(--bg-box);
    padding: 24px;
    border: var(--border-thickness) solid var(--dark-color);
    text-shadow: 0 0 var(--bloom-intensity);
    box-shadow: 0 0 var(--bloom-intensity) var(--dark-color);
}

.nav_btn {
    padding: 8px;
    border: var(--border-thickness) solid var(--dark-color);
    text-shadow: 0 0 var(--bloom-intensity);
    box-shadow: 0 0 var(--bloom-intensity) var(--dark-color);
}

.content {
    text-align: center;
    font-size: x-large;
    padding: 32px;
    text-shadow: 0 0 var(--bloom-intensity);
}

.avatar {
    height: 175px;
    border: var(--border-thickness) solid var(--light-color);
    box-shadow: 0 0 var(--bloom-intensity) var(--light-color);
}

a {
    color: var(--link-color);
}